[submodule "googletest"]
	path = googletest
	url = https://ghe-pip2.fnal.gov/adinst/googletest.git
[submodule "hiredis"]
	path = hiredis
	url = https://ghe-pip2.fnal.gov/adinst/hiredis.git
[submodule "redis-plus-plus"]
	path = redis-plus-plus
	url = https://ghe-pip2.fnal.gov/adinst/redis-plus-plus.git
